.usecase > h4 {
  font-weight: bold;
  font-size: 1.3rem;
}

#header {
  margin-bottom: 2em;
}

#logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -237px;
}
  #logo img {
    width: 368px;
  }

@media screen and (max-width: 736px) {
  #logo {
      position: absolute;
      top: 15px;
      left: 50%;
      margin-left: -211px;
  }
  #logo img {
    width: 280px;
  }
}

.image.featured {
  max-height: 177px;
  overflow: hidden;
}

.image-wrapper.first:before {
  box-shadow: none;
  background: none;
}
