{% extends "base.html" %}
{% block title %}List of articles{%endblock%}
{% block bodyclass %}archives{% endblock %}

{% block content %}
      <div id="header-wrapper">
        <div id="header" class="container">
          <h1 id="logo"><a href="{{ SITEURL }}/"><img src="images/kinto-logo.svg" alt="Kinto"/></a></h1>
        </div>
      </div>

      <div class="wrapper">
        <div class="container">
          <article>
            {% for article in dates %}
            <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            <p>{{ article.date|strftime('%d %B %Y') }}</p>
            <p>{{ article.summary }}</p>
            {% endfor %}
          </article>
        </div>
      </div>

{% endblock %}
