{% extends "base.html" %}
{% block title %}{{ article.title }}{%endblock%}

{% block content %}
      <div id="header-wrapper">
        <div id="header" class="container">
          <h1 id="logo"><a href="{{ SITEURL }}/"><img src="images/kinto-logo.svg" alt="Kinto"/></a></h1>
        </div>

        <!-- Hero -->
        <section id="hero" class="container spacing-top">
          <header>
            <h2>{{ article.title }}</h2>
          </header>
        </section>
      </div>

      <div>
        <div class="container">
        <p>{{ article.content }}</p>
        </div>
      </div>
{% endblock %}
