<!DOCTYPE HTML>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
    <meta charset="utf-8" />
    <title>{{ SITENAME }} - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_extra %}{% endblock %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/kinto.css" />
    {% block stylesheet_extra %}{% endblock %}

    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endblock head %}
</head>

  <body class="{% block bodyclass %}index{% endblock %}">
    {% include 'icons.html' %}
    {% block content %}{% endblock %}

    <div class="top-links">
      <a href="https://kinto.readthedocs.io/en/latest/index.html">Documentation</a> |
      <a href="https://github.com/Kinto">GitHub</a>
    </div>

    <!-- Footer -->
    <div class="k-footer-wrapper">
      <footer class="k-container">
        <ul class="k-community">
          <li>
            <a href="https://github.com/Kinto" title="Github Org"><svg class="icon"><use xlink:href="#icon-github"></use></svg>GitHub</a>
          </li>
          <li>
            <a href="https://kiwiirc.com/client/irc.freenode.net/?#kinto" title="Freenode IRC channel"><svg class="icon"><use xlink:href="#icon-comment-dots"></use></svg>IRC</a>
          </li>
          <li>
            <a href="http://stackoverflow.com/questions/tagged/kinto?sort=newest" title="Stack Overflow"><svg class="icon"><use xlink:href="#icon-stack-overflow"></use></svg>SO</a>
          </li>
          <li>
            <a href="https://mail.mozilla.org/listinfo/kinto" title="Mailing-List"><svg class="icon"><use xlink:href="#icon-envelope"></use></svg>ML</a>
          </li>
          <li>
            <a href="https://slack.kinto-storage.org/" title="Slack channel"><svg class="icon"><use xlink:href="#icon-slack"></use></svg>Slack</a>
          </li>
        </ul>
      </footer>
      <div class="k-copyright">
        <p>Design: <a href="https://html5up.net">HTML5 UP</a></p>
      </div>
    </div>
  </body>
</html>
