{% extends "base.html" %}

{% block stylesheet_extra %}<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />{% endblock %}

{% block content %}
      <div class="k-header-wrapper">
        <div class="k-container">
          <h1 class="k-logo-standalone"><a href="{{ SITEURL }}/"><img src="images/kinto-logo.svg" alt="Kinto wordmark"/></a></h1>
        </div>
      </div>

      <div class="k-wrapper">
        <div class="k-container">
          <article id="content">
            {% block main_content %}{% endblock %}
          </article>
        </div>
      </div>
{% endblock %}
