pre, code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  background-color: #cac9ff;
  padding: .2em .2em .1em .2em;
  font-size: 90%;
  border-radius: 2px;
}

.feature header svg,
.usecases svg,
.community svg {
  width: 1em;
  height: 1em;
}

.usecases svg {
  fill: #52575c;
  vertical-align: text-bottom;
  font-size: 25px;
}

.usecase > h4 {
  font-weight: bold;
  font-size: 1.3rem;
}

#header {
  margin-bottom: 2em;
}

#logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -230px;
}
  #logo a {
    border: none;
  }
  #logo img {
    width: 368px;
  }

.with_sidebar #header-wrapper {
  height: 170px;
}

.top-links {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  margin: .5em 1em;
  font-size: 1.2em;
  color: #eee;
}
  .top-links a:hover {
    color: #fff;
  }

#why {
  padding-bottom: 2em;
}

.highlight {
  padding: .4em .8em;
  margin-bottom: 1.5em;
  border-radius: 6px;
  overflow: auto;
}
  .highlight pre {
    font-size: .85em;
    line-height: 1.5em;
  }

@media screen and (max-width: 736px) {
  #logo {
      position: absolute;
      top: 35px;
      left: 50%;
      margin-left: -200px;
  }
  #logo img {
    width: 280px;
  }
}

.image.featured {
  overflow: hidden;
}

.image-wrapper.first:before {
  box-shadow: none;
  background: none;
}

@media screen and (max-width: 820px) {
  .archives #header-wrapper,
  .article #header-wrapper {
    height: 130px;
  }

  .row > section.usecase {
    margin-bottom: 1em;
  }
}

.community li {
  margin: 0 0 1em 1em;
}

ul.icons li a {
  border-bottom: none;
}

ul.icons li a svg {
  display: inline-block;
  color: #fff;
  background: #61666b;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 0.35em;
  text-align: center;
  line-height: 2em;
  margin-right: 0.75em;
  fill: white;
  vertical-align: middle;
}

@media screen and (min-width: 820px) {
  .community {
    display: flex;
    width: 100%;
  }
    .community li {
      flex: 1;
      justify-content: space-around;
    }
}

#footer-wrapper {
  padding: 2em 0 2em 0;
}

#copyright {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.image.featured {
  border-radius: 6px;
}

h4.icon {
  font-family: inherit;
  line-height: 1.5em;
}

.spacing-top {
  padding-top: 20px;
}

article > ul,
article > ol  {
  list-style-type: square;
  margin-left: 1em;
}

.feature header svg {
  fill: #52575c;
}

.code-sample {
  text-align: left;
  background-color: #282828;
  overflow-x: auto;
  max-width: 100%;
  padding: 16px;
  margin-top: 16px;
  color: #fbf1c7;
}

.code-sample code {
  background-color: transparent
}

.s-red { color: #fb4934; }
.s-orange { color: #fabd2f; }
.s-green { color: #b8bb26; }

.feature ul {
  font-size: 1.2em;
  line-height: 1.75em;
}